{% extends "base.tf.jinja" %}

{% block spacelift_provider_version %}1.3.1{% endblock %}

{% block stack_arguments_extra %}
{{ argument("labels", ["infracost"]) }}
{{ argument("worker_pool_id", "<WORKER POOL ID>") }}
{% endblock %}

{% block stack_extra scoped %}
resource "spacelift_context_attachment" "attachment" {
  {{ argument("context_id", "spacelift_context.infracost.id", required=True, serialize=False) }}
  {{ argument("stack_id", "spacelift_stack." ~ stack._relationships.space._migration_id ~ "_" ~ stack._migration_id ~ ".id", serialize=False) }}
}
{% endblock %}

{% block module_arguments_extra %}
{{ argument("worker_pool_id", "<WORKER POOL ID>") }}
{% endblock %}


{% block footer_extra %}
resource "spacelift_context" "infracost" {
  {{ argument("name", "Infracost", required=True) }}
  {{ argument("space_id", "root", default="legacy") }}
}

resource "spacelift_environment_variable" "infracost_api_key" {
  {{ argument("context_id", "spacelift_context.infracost.id", required=True, serialize=False) }}
  {{ argument("name", "INFRACOST_API_KEY", required=True) }}
  {{ argument("value", null, default="") }}
  {{ argument("write_only", true, default=True) }}
}
{% endblock %}
